* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
  font-weight: bold;
}
.color-orange {
  color: #fd6e0a;
}
.action-btn-fill {
  padding: 18px 35px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.action-btn {
  padding: 18px 35px;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  background-color: #fff;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 30px;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
  text-align: center;
}
.description {
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
hr {
  margin: 30px 0px;
  width: 558px;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* Main styles */

header {
  background: url("../images/header_bg.png"), url("../images/developer.png"),
    #fff8f3;
  background-position: bottom right, top left;
  background-repeat: no-repeat;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  gap: 51px;
  list-style-type: none;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}

#hero {
  margin: 46px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
#hero .hero-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#hero .hero-image img {
  max-width: 585px;
  vertical-align: middle;
}
#about {
  margin: 130px;
  display: flex;
  justify-content: center;
}
.about-container {
  text-align: center;
  padding: 131px 155px;
  max-width: 1140px;
  background-color: #fff8f3;
  border-radius: 10px;
}
#about .about-info {
  display: flex;
  justify-content: space-between;
}
#services {
  max-width: 1140px;
  margin: 0 auto 130px;
}
.services-container {
  text-align: center;
}
.services-container .description {
  padding: 0 155px;
}
.service-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.service-cards .card {
  background: #fff;
  padding: 33px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.service-cards .card img {
  margin-bottom: 30px;
  height: 44px;
  width: 44px;
}
.service-cards .card .card-name {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#resume {
  margin: 0 auto;
  max-width: 1140px;
}
#resume h3 {
  color: #474747;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
#resume h4 {
  color: #474747;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
#resume h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-container {
  display: flex;
  gap: 24px;
  margin-top: 113px;
  justify-content: space-between;
}
.edu-wrap {
  display: flex;
  flex-direction: column;
}
.exp-wrap {
  display: flex;
  flex-direction: column;
}
#resume p {
  max-width: 511px;
}
.download {
  margin: 0 auto;
  max-width: 1140px;
}
