*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shareed style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: bold;
}
.color-orange{
    color: #FD6E0A;
}
.action-btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border:none;
    color: #FFFFFF ;
    font-size: 20px;
    font-weight: bold;
}
/* Main styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    font-size: 20px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
